.App {
  padding: 0.5rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: #333;
}

.App p {
  max-width: 900px;
  margin: 0 auto;
}

header p {
  padding: 1rem;
}

.explanation {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.explanation:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 20px;
  color: #999;
  font-size: 3em;
}
.explanation:after {
  content: close-quote;
  display: inline;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 25px;
  color: #999;
  font-size: 3em;
}

.graphqlLogo {
  width: 30px;
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
}

span.pink {
  color: #e10098;
}

.sectionsList {
  position: relative;
}

.line {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #888;
}

.section {
  color: #feffff;
  padding: 1rem;
  margin: 3rem 0;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  text-shadow: 1px 1px hsla(0, 0%, 0%, 0.3);
}

.section .name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.section .description {
  text-align: left;
}

.section p {
  margin-top: 0;
}

.section.client {
  background-color: #f67280;
}

.section.client a {
  color: #f67280;
}

.section.gateway {
  background-color: #c06c84;
}

.section.gateway a {
  color: #c06c84;
}

.section.graphqlServer {
  background-color: #6c5b7b;
}

.section.graphqlServer a {
  color: #6c5b7b;
}

.section.server {
  background-color: #515c7c;
}

.section.dbProxy {
  background-color: #355c7d;
}

.section.dbProxy a {
  color: #355c7d;
}

.section.data {
  background-color: #0d3559;
}

.tools {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.round {
  border-radius: 0.5rem;
}

.tool {
  color: #333;
  overflow: hidden;
  width: 360px;
  margin: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-shadow: none;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.tool .main {
  background-color: #feffff;
  height: 100%;
  padding: 1rem;
  padding-bottom: 1rem;
}

.tool .name {
  margin-top: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.tool .description {
  text-align: left;
}

.tool .info {
  padding: 0.5rem;
  background-color: #f3f4f5;
}

.tool .info .links {
  display: flex;
  justify-content: center;
}

.tool .info .links a {
  margin: 0.5rem;
}
